.cart-fixed {
  position: absolute;
  top: 72px;
  right: 0;
  z-index: 98;
  background: rgb(41, 41, 41);
  height: calc(100vh - 72px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &__cart-items {
    list-style-type: none;
  }

  &__total-qty {
    padding: 0.5rem;
  }

  &__qty {
    padding: 0.35rem;
    width: 45px;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
  }

  &__item {
    border-bottom: 1px solid gray;
    padding: 1rem;
    background: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    align-items: center;
  }

  &__item-total {
    font-weight: bold;
  }

  &__remove-btn {
    background: red;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    justify-self: center;
    transition-duration: 40ms;

    &:hover {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
  }

  &__img-wrap {
    max-width: 100px;
    width: 100%;
    height: 100%;
    margin-right: 1rem;
  }
  &__img {
    width: 100%;
    height: 100%;
  }

  &__total-wrap {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &__clear {
    background: rgb(201, 58, 58);
    border: none;
    color: white;
    padding: 0.5rem;
  }
  &__checkout {
    padding: 1rem;
    background: orange;
  }
  &__completion-btns {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    & > * {
      text-align: center;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.hidden {
  display: none;
}

// Must change value in cart.js timeouts aswell
.hide-animation {
  animation: sweepUp 200ms;
  animation-fill-mode: forwards;
}
.show-animation {
  animation: sweepDown 200ms;
  animation-fill-mode: forwards;
}

@keyframes sweepUp {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
@keyframes sweepDown {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
