.feature-products {
  width: 100%;
  padding-bottom: 70px;

  &__product-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
  }
  &__product {
    display: grid;
    grid-template-rows: 1fr repeat(2, min-content);
    justify-items: center;
    padding: 1rem;
  }
  &__title {
    text-align: center;
    margin: 1.5rem 0;
  }
  &__img-wrap {
    max-width: 500px;
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
