@import 'mixins';
@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  color: $color__white;
  background-color: $color__accent;
  padding: $spacing__s;
  align-items: center;

  &__search {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    max-width: 75%;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    &::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    &:hover,
    &:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
    }
  }

  &__hidden-burgernav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color__white;
    transition: all 500ms ease-in-out;
    clip-path: circle(13.9% at 0 0);
    visibility: hidden;
    z-index: 99;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    margin: $spacing__s;
    font-size: 24px;
  }

  &__item-link {
    text-decoration: none;
    color: $color__black;
  }

  &__nav {
    display: flex;
    place-content: center space-evenly;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    color: #94ffd9;
    z-index: 2;
    width: 40px;
    height: 40px;

    &::before,
    &::after {
      content: '';
      height: 1px;
      transition: all 200ms;
      width: 40px;
      border-radius: 2px;
      color: $color__prim;
      background-color: $color__prim;
      position: absolute;
    }

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 10px;
    }
  }

  &__nav-line {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    height: 1px;
    transition: all 200ms;
    width: 40px;
    border-radius: 1px;
    background: $color__prim;
  }
}

.header__nav--active {
  z-index: 999;
  & > span {
    transform: scale(0);
    transition: all 200ms;
  }

  &::after,
  &::before {
    top: 0px;
    left: 0;
    width: 34px;
  }
  &::after {
    transform: rotate(-45deg);
    top: 20px;
  }
  &::before {
    transform: rotate(45deg);
    top: 20px;
  }
}
