.lp-products {
  padding: 70px;
  padding-top: 180px;
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    max-width: 940px;
    margin: 0 auto;
  }
  &__current-category {
    text-align: center;
    margin-bottom: 2rem;
  }
}
