@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.lp-categories {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 1 1 240px;
    position: relative;
    height: calc(25vh - (#{$header__height} / 4));
    cursor: pointer;
    transition-duration: 80ms;
    &:hover {
      opacity: 0.7;
    }

    @include desktop {
      height: 50vh;
    }
  }
  &__title {
    position: absolute;
    font-family: 'Montserrat';
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-size: 34px;
    padding: 0.5rem 1rem;
    //font-family: 'Lalezar', cursive;
    background-color: #00c4ffad;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
