.order-main {
  width: 100vw;
  min-height: 100%;
  max-width: 100%;
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.background {
  display: none;
  @include tablet {
    display: block;
    background-image: url('../media/background/footprints-on-beach.jpg');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: -1;
  }
}
.err-btn {
  @include btn-primary;
  margin-top: 2rem;
  align-self: center;
}

.cont {
  margin: 0 auto;
  width: 100%;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1000px;
    min-height: 40vh;
    align-items: center;
    padding: $spacing__m;
    margin-top: 100px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.products {
  padding: $spacing__s 0;
  padding: $spacing__m;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    padding-left: 2%;
    padding-right: 2%;
    grid-column: 2;
  }

  @include desktop {
    padding: $spacing__m;
  }

  &__headline {
    text-align: center;
    margin-top: 60px;
    @include tablet {
      margin-top: 0;
    }
  }

  &__img-wrap {
    max-width: 100px;
    width: 100%;
    height: 100%;
    margin-right: 1rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__container {
    height: 100%;
  }

  &__item {
    padding: 1rem;
    background: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* autoprefixer: off */
    /* display: grid;
    grid-template-columns: 1fr 2fr 0.5fr; */
    align-items: center;
    position: relative;
    margin-bottom: 1px;
    &:after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-top: 5px;
      border-bottom: solid 0.5px rgb(168, 168, 168);
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: auto;
    }

    @include tablet {
      margin-left: $spacing__s;
    }
  }

  &__item-total {
    font-weight: bold;
    &--old {
      font-size: 0.85rem;
      font-weight: normal;
      text-decoration: line-through;
    }
  }

  &__qty-wrap {
    align-self: center;
    display: flex;
    margin-top: 10px;
  }

  &__qty {
    font-size: 1rem;
    width: 40px;
    text-align: center;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    &:focus {
      outline: none;
    }
  }
  &__qty-up,
  &__qty-down {
    background: #5f7cda;
    color: white;
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      background: #4a61aa;
    }
  }

  &__remove-btn {
    background: red;
    min-height: 25px;
    min-width: 25px;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    justify-self: center;
    transition-duration: 40ms;
    margin-left: auto;

    &:hover {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
  }

  &__total-wrap {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &__completion-btns {
    display: flex;
    flex-direction: column;

    & > * {
      text-align: center;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.form-wrapper {
  background-color: rgb(238, 183, 66);
  color: $color__white;
  //padding: $spacing__m;
  padding-top: 30px;
  padding-bottom: 30px;

  @include tablet {
    grid-column: 1;
    grid-row: 1;
    margin-right: -$spacing__s;
  }

  &__headline {
    text-align: center;
    margin-bottom: 20px;
  }

  &__form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  &__zip-city {
    display: flex;
    justify-content: space-between;
  }

  &__zip {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  &__city {
    display: flex;
    flex-direction: column;
    width: auto;
    width: 50%;
  }

  &__input {
    border: none;
    height: 30px;
    font-size: 18px;
  }

  &__validation-text {
    height: 20px;
    content: '';
    margin-bottom: 5px;
  }

  &__checkout {
    margin-top: 20px;
    padding: 1rem;
    background: #78b9fb;
    text-align: center;
    text-decoration: 0;
    color: $color__white;
    width: 200px;
    align-self: center;
    cursor: pointer;
    &:hover {
      background-color: rgb(30, 104, 165);
      transition-duration: 0.4s;
    }
  }

  /*  &__checkout {
    border: none;
    color: white;
    padding: 16px 32px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px;
    background-color: rgb(30, 104, 165);
    cursor: pointer;
    align-self: center;

    @media screen and (min-width: 700px) {
      color: rgb(30, 104, 165);
      background-color: #f9cd74;
      border: 2px solid rgb(30, 104, 165);
      &:hover {
        background-color: rgb(30, 104, 165);
        color: white;
        transition-duration: 0.4s;
      }
    }
  } */
}
