.productpage-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.productpage {
  display: grid;
  grid-template-rows: auto 1fr;
  background: #fff0f0;
  height: min-content;
  margin-top: calc(#{$header__height} * 2);

  @include tablet {
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: auto;
  }

  @include desktop {
    max-width: 80vw;
  }

  &__col-right {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    /* autoprefixer: off */
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-column: 2;
  }
  &__col-left {
    background: white;
    width: 100%;
    -ms-grid-column: 1;
  }

  &__image-bar {
    display: flex;
    max-height: 200px;
  }
  &__img-wrap {
    flex: 1 1 150px;
  }
  &__primary-img-wrap {
    display: flex;
    justify-content: center;
  }
  &__name,
  &__category {
    color: #707070;
  }
  &__heading-wrap {
    align-self: flex-start;
    -ms-grid-row: 1;
  }
  &__name {
    font-size: 2rem;
  }
  &__price {
    color: rgb(22, 20, 20);
    font-weight: bold;
    font-size: 1.5rem;
  }
  &__category {
    display: block;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    &--large {
      max-width: 500px;
    }
  }
  &__desc {
    margin: 1rem 0;
    align-self: center;
    width: 100%;
    -ms-grid-row: 2;
  }
  &__input-wrap {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    -ms-grid-row: 3;
  }
  &__qty-wrap {
    align-self: center;
    display: flex;
  }
  &__qty {
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 80px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid gray;
    &:focus {
      outline: none;
    }
  }
  &__qty-up,
  &__qty-down {
    background: #5f7cda;
    color: white;
    width: 43px;
    height: 43px;
    display: block;
    border-radius: 105px;
    border: none;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__add {
    @include btn-primary;
    margin-top: 1rem;
  }
  &__oos {
    text-align: center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
