.search-container {
  padding: 3rem;
}
.search-results {
  padding-top: 100px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.searchProd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;

  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 200px;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &____detail {
    width: 100%;
    height: 100%;
  }
}
