.feature-cards {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feature-cards__title {
  color: white;
  font-size: 20px;
}

.feature-cards__card {
  min-height: 25vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1024px) {
  .feature-cards__card {
    min-height: 50vh;
  }
}

.feature-cards__card--first {
  background-image: url(https://source.unsplash.com/random/800x500);
}

.feature-cards__card--second {
  background-image: url(https://source.unsplash.com/random/800x501);
}

.feature-products {
  width: 100%;
}

.feature-products__product-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.feature-products__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-products__title {
  text-align: center;
  margin-top: 1.5rem;
}

.feature-products__img {
  width: 100%;
}

.lp-categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.lp-categories__item {
  position: relative;
  height: 300px;
}

.lp-categories__title {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 34px;
}

.lp-categories__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lp-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.lp-hero {
  height: 50vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

.lp-hero .scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

.lp-hero .scroller::-webkit-scrollbar {
  display: none;
}

.lp-hero__title {
  text-align: center;
  color: white;
  font-size: 1rem;
}

.lp-hero__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lp-hero__btn-wrap {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  min-width: 150px;
}

@media (min-width: 1024px) {
  .lp-hero__btn-wrap {
    font-size: initial;
  }
}

.lp-hero #left,
.lp-hero #right {
  position: absolute;
  border: none;
  background: none;
  font-size: 24px;
  color: white;
}

.lp-hero #left:hover,
.lp-hero #right:hover {
  color: #cfcfcf;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .lp-hero #left,
  .lp-hero #right {
    font-size: 38px;
  }
}

.lp-hero #left {
  top: 50%;
  left: 2rem;
}

@media (min-width: 1024px) {
  .lp-hero #left {
    left: 4rem;
  }
}

.lp-hero #right {
  top: 50%;
  right: 2rem;
}

@media (min-width: 1024px) {
  .lp-hero #right {
    right: 4rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "open_sansregular", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*# sourceMappingURL=main.css.map */