@import 'mixins';
@import 'variables';
@import 'feature-cards';
@import 'feature-products';
@import 'lp-category';
@import 'lp-products';
@import 'lp-hero';
@import 'mixins';
@import 'variables';
@import 'feature-cards';
@import 'feature-products';
@import 'lp-category';
@import 'lp-products';
@import 'header';
@import 'cart';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $base__fontFamily;
}
