.feature-cards {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feature-cards__title {
  color: white;
  font-size: 20px;
}

.feature-cards__card {
  min-height: 25vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1024px) {
  .feature-cards__card {
    min-height: 50vh;
  }
}

.feature-cards__card--first {
  background-image: url(https://source.unsplash.com/random/800x500);
}

.feature-cards__card--second {
  background-image: url(https://source.unsplash.com/random/800x501);
}

.feature-products {
  width: 100%;
}

.feature-products__product-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.feature-products__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-products__title {
  text-align: center;
  margin-top: 1.5rem;
}

.feature-products__img {
  width: 100%;
}

.lp-categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.lp-categories__item {
  position: relative;
  height: 300px;
}

.lp-categories__title {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 34px;
}

.lp-categories__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lp-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  background-color: green;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  max-width: 75%;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.header__search::-webkit-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.header__search:-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.header__search::-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.header__search::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.header__search:hover, .header__search:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.header__hidden-burgernav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: red;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-clip-path: circle(13.9% at 0 0);
          clip-path: circle(13.9% at 0 0);
  visibility: hidden;
}

.header__list {
  list-style: none;
}

.header__list-item {
  margin: 1em;
  font-size: 24px;
}

.header__item-link {
  text-decoration: none;
  color: #ffffff;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: relative;
  color: #94ffd9;
  z-index: 2;
  width: 40px;
  height: 40px;
}

.header__nav::before, .header__nav::after {
  content: "";
  height: 1px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  width: 40px;
  border-radius: 2px;
  color: red;
  background-color: red;
  position: absolute;
}

.header__nav::before {
  top: 10px;
}

.header__nav::after {
  bottom: 10px;
}

.header__nav-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 1px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  width: 40px;
  border-radius: 1px;
  background: red;
}

.header__nav--active > span {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.header__nav--active::after, .header__nav--active::before {
  top: 0px;
  left: 0;
  width: 34px;
}

.header__nav--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 20px;
}

.header__nav--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "open_sansregular", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*# sourceMappingURL=main.css.map */