// SPACINGS
$spacing__s: 1em;
$spacing__m: 2em;
$spacing__l: 2.5em;
$spacing__xl: 3em;

// FONT
$base__fontFamily: "Open Sans", "Helvetica Neue", Helvetica,
  Arial, sans-serif;
$base__fontSize: 14px;
$base__lineHeight: 1.6;
$headline__fontSize: 2rem;

//COLORS
$color__prim: red;
$color__sec: blue;
$color__accent: green;
$color__black: #000000;
$color__white: #ffffff;
